@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=PT+Sans:wght@700&display=swap");

body {
  background-color: rgb(236, 236, 236);
}

.form-error {
  font-size: 16px;
  color: red;
}

.form-error ul {
  list-style-type: none;
}

/* -- MAP -- */
.logged_in {
  font-family: "PT Sans", sans-serif !important;
}

.leaflet-bar {
  display: none;
}

.form_container {
  background-color: aquamarine;
}

#gis {
  margin: 0 auto;
  width: 100%;
  height: 700px;
  padding: 0;
}
.asteriskField {
  display: none;
}
.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.3rem;
  font-family: "Inconsolata", monospace !important;
}

.direction {
  margin-top: 2rem;
  width: 17rem;
  height: 25rem;
  font-family: "PT Sans", sans-serif !important;
}
.direction > h4 > span {
  font-size: 1.3rem;
}
