{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags l10n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- banner section start -->
        <div class="banner_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner_taital">
                            <div class="about_taital">Search:</div>
                            <div class="marker-card position-absolute" id="marker_card">
                                <div class="row justify-content-center">
                                    <div class="w-25 py-5">
                                        <div class="text-center" id="marker_card_content">
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <form method="POST">
                                <input type="hidden" name="csrfmiddlewaretoken" value="ktzIX6zdGAhusuPOK5bSHbzfabByXi0q8wu7YfkTX46vFvA5IQvrb9GXUZVqJVEx">
                                {% csrf_token %}

                                {{ form }}
                                <button type="submit" class="btn btn-primary mb-3 ">Searches</button>
                            </form>
                            {% leaflet_map "leaflet" callback="window.leafletMarkers" %}
                        </div>
                    </div>  
                </div>
                <div class="row ">
                    <form method="POST">
                        {% csrf_token %}
                        {{ view_estabs_form }}
                        <button type="submit" class="btn btn-primary mb-3 ">View</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- banner section end -->

        <div class="direction_container">
            <div class="row">
                <div class="col-4">
                    <div class="direction">
                        <h2>Directions: </h2>
                        <ul class="horizontal-list">
                            <li style="background-color: white; color: white;" id="possible_paths">
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="establishments">
                        <h2>Establishments: </h2>
                        <ul class="horizontal-list">
                            <li style="background-color: white; color: white;" id="route_establishments">
                        </ul>
                    </div>
                </div>  
            </div>    
        </div> 
    </div>

    <!-- about section start -->
    <div class="about_section">
        <div class="container mb-5">
            <div class="row">
                <div class="col">
                    <div class="bg-white p-4 py-3">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label for="my_file">You can upload multiple locations in a single file.</label>
                                <br>
                                <input type="file" name="my_file" />
                                <br>
                                <br>
                                <button type="submit" class="btn btn-secondary">Upload</button>
                            </form>
                            <br>
                            <br>
                            <form class="form-control" action="modifymarker/" method="POST" onSubmit="return ValidateMarkerSubmittion()"> {% csrf_token %}
                                <input type="hidden" name="modifyType" value="add">
                                {% csrf_token %}
                                <label>You also have the option to manually assign the markers.</label>
                                {{ upload_form|crispy }}
                                <div class="button mt-3 text-left">
                                    <button class="btn btn-dark mb-4">Set Marker</button>
                                </div>
                            </form>
                   </div>
                </div>
                <div class="col">
                    <div class="p-4 bg-white">
                    <h5>Remove Marker</h5>
                        <form action="modifymarker/" method="POST" onSubmit="return ValidateMarkerSubmittion()"> 
                            {% csrf_token %}
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" name="name" id="marker_name" placeholder="Marker Name" required>
                            </div>
                            <input type="hidden" name="modifyType" value="remove">
                            <div class="button mt-4 text-left">
                                <button class="btn btn-dark">Remove Marker</button>
                            </div>
                        </form>
                    </div>
               </div>
           </div>
        </div>
     </div>
     <!-- about section end -->
    <script type="text/javascript" src="{% static 'leaflet/Control.Geocoder.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet/leaflet.ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet/leaflet.ajax.min.js' %}"></script>
    <script type='text/javascript'>
        
        function leafletMarkers(map, options){
            let jsonMarkers = {{ jsonMarkers|safe }}
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: 'http://127.0.0.1:8000/map/markers', success: function (result){
                    
                    let markers_arr = []
                    let marker_arr = []
                    markers_arr.push(result)
                    let estab = markers_arr[0].filter(marker => {
                        marker.type == `${jsonMarkers[0]}` ? marker_arr.push(marker) : null;
                    })

                    marker_arr.map(estab_type =>{
                        (estab_type.type == "establishment" ? estab_types = "/static/images/establishment_icon.png" : null) || 
                        (estab_type.type == "intersection" ? estab_types = "/static/images/intersection_icon.png" : null)  ||
                        (estab_type.type == "start_dest" ? estab_types = "/static/images/start_dest_icon.png" : null) 
                    })
                    var greenIcon = L.icon({
                        iconUrl: `${estab_types}`,
                        iconSize:     [35, 95], // size of the icon
                        iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
                        popupAnchor:  [-3, -25] // point from which the popup should open relative to the iconAnchor
                    });
                    marker_arr.forEach(estab => {
                        let marker = L.latLng(
                            parseFloat(estab["latitude"]),
                            parseFloat(estab["longitude"])
                        )
                        const latlngs = L.marker(marker, {icon: greenIcon}).addTo(map)
                        latlngs.bindPopup(estab["name"]);//.openPopup();
                    });
                }
            })

            var directions = []
            var establishments = []
            // Map the edge of the graph

            const possible_paths = document.getElementById('possible_paths')  
            const route_establishments = document.getElementById('route_establishments')  

            const arr_test = jsonMarkers.map(route => {directions.push(route)});
            // Iterate over each array in the directions variable
            for (var i = 0; i < directions.length; i++) {
                
                var button_list = document.createElement("li"); // Create a button
                button_list.textContent = `Route ${i+1}`; // Button text
                button_list.setAttribute('id', `${i}`);
                button_list.style.cursor = 'pointer';
                
                var establishment_container = document.createElement('div');
                
                establishment_container.textContent = [...new Set(directions[i][1].map(marker =>  marker.name))]
                establishment_container.style.color = "black";
                establishment_container.style.width = '600px';
                establishment_container.style.textAlign = 'left';
                establishment_container.setAttribute('id', `${i}`);
                establishment_container.style.display = "none";
            
                possible_paths.appendChild(button_list); // Append the div to the body or your desired container
                
                route_establishments.appendChild(establishment_container); // Append the div to the body or your desired container
                
                var curr_button;
                button_list.addEventListener('click', function(ev) {
                    curr_button = ev.target.id
                })

                const establishments = establishment_container.textContent.split(',');
                establishments.forEach(establishment =>{
                    const anchor = document.createElement('a');
                    anchor.textContent = "  -> " + establishment.trim() + "   ";
                    anchor.href = '#'; // Replace with your desired action

                    anchor.addEventListener('click', function(ev) {
                        event.preventDefault();

                        var MarkerIcon = L.Icon.extend({
                            options: {
                                iconSize:     [38, 95],
                                shadowSize:   [50, 64],
                                iconAnchor:   [22, 94],
                                shadowAnchor: [4, 62],
                                popupAnchor:  [-3, -25]
                            }
                        });
                        var estab_icon = new MarkerIcon({iconUrl: "/static/images/selected_establishment_icon.png"})
                        L.icon = function (options) {
                            return new L.Icon(options);
                        };

                        var selectedEstabMarkers = L.layerGroup().addTo(map);
                        
                        var establishmentName = event.target.textContent;
                        var counter = 0
                        var test = directions[curr_button][1].find(estab =>{
                            if (establishmentName.includes(estab.name)){
                                var popupSelectedEstab = L.marker([estab["lat"], estab["lng"]], {icon: estab_icon}).addTo(selectedEstabMarkers)
                                popupSelectedEstab.bindPopup(estab["name"].toString()).openPopup(); 

                            }
                        })


                    });
                    establishment_container.appendChild(anchor);
                })
            }
            var buttons = possible_paths.getElementsByTagName('li');
            var divs = route_establishments.getElementsByTagName('div');
            var polylineLayer = null;
            var markersLayer = null
            var currEstabBlock = null
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener('click', function(ev) {
                    var MarkerIcon = L.Icon.extend({
                        options: {
                            iconSize:     [38, 95],
                            shadowSize:   [50, 64],
                            iconAnchor:   [22, 94],
                            shadowAnchor: [4, 62],
                            popupAnchor:  [-3, -25]
                        }
                    });
                    var estab_icon = new MarkerIcon({iconUrl: "/static/images/establishment_icon.png"}),
                        intersec_icon = new MarkerIcon({iconUrl: "/static/images/intersection_icon.png"}),
                        start_dest_icon = new MarkerIcon({iconUrl: "/static/images/start_dest_icon.png"});
                    L.icon = function (options) {
                        return new L.Icon(options);
                    };

                    var markers = L.layerGroup().addTo(map);

                    if (polylineLayer) {
                        map.removeLayer(polylineLayer);
                        map.removeLayer(markersLayer)
                        currEstabBlock.style.display = "none"
                    }

                    var curr_estab = divs[ev.target.id]
                    curr_estab.style.display = "block"
                    // Establishments
                    directions[ev.target.id][1].forEach(marker => {
                        var marker_icon = marker["type"] == "establishment" ? estab_icon : null ||
                                          marker["type"] == "intersection" ? intersec_icon : null ||
                                          marker["type"] == "start_dest" ? start_dest_icon : null
                        var latlngs = L.marker([marker["lat"], marker["lng"]], {icon: marker_icon}).addTo(markers)
                        latlngs.bindPopup(marker["name"].toString()).openPopup(); 
                    })
                    // Routes
                    // Create a new polyline layer using the provided coordinates
                    var polyline = L.polyline(directions[ev.target.id][0], {weight: 9}).addTo(map);
                    
                    // Update the currently displayed polyline layer
                    polylineLayer = polyline;
                    markersLayer = markers
                    currEstabBlock = curr_estab
                });
            }  
        }
    </script>
</div>
{% endblock %}
