{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block userlevel %}

{% if request.user.is_superuser %}
<div class="col-5">
    <div class="d-flex align-items-center">
        <h4>Admin: {{ request.user }}</h4>
    </div>
</div>
<div class="col-5"></div>
<div class="col-2">
</div>
{% else %}
<div class="col-4">
    <div class="d-flex align-items-center">
        <h4>User: {{ request.user }}</h4>
    </div>

</div>
<div class="col-6"></div>
<div class="col-2">
</div>
{% endif %}

{% endblock%}

{% block content %}
<script>
    LoadMap()
</script>

<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- banner section start -->
    <style>
        .icon {
            background-size: cover;
            height: 30px;
            width: 30px;
        }
        .route-marker {
            align-items: center;
            background-color: #4a90e2;
            border: solid 3px #2faaff;
            border-radius: 50%;
            display: flex;
            height: 32px;
            justify-content: center;
            transition: width .1s, height .1s;
            width: 32px;
        }
    </style>
    <div class="banner_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="banner_taital">
                        <div class="about_taital">Search:</div>
                        <div class="marker-card position-absolute" id="marker_card">
                            <div class="row justify-content-center">
                                <div class="w-25 py-5">
                                    <div class="text-center" id="marker_card_content">
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <form method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-primary mb-3 ">Search</button>
                        </form>
                        <div id="map">
                            <div class="justify-content-center" id="loading_Map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <!-- banner section end -->
     <!-- about section start -->
     <div class="about_section">
        <div class="container mb-5">
           <div class="row">
                <div class="col">
                    <div class="bg-white p-4 py-3">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label for="my_file">You can upload multiple locations in a single file.</label>
                                <br>
                                <input type="file" name="my_file" />
                                <br>
                                <br>
                                <button type="submit" class="btn btn-secondary">Upload</button>
                            </form>
                            <br>
                            <br>
                            <form class="form-control" action="modifymarker/" method="POST" onSubmit="return ValidateMarkerSubmittion()"> {% csrf_token %}
                                {% csrf_token %}
                                
                                <label>You also have the option to manually assign the markers.</label>
                                {{ upload_form|crispy }}
                                <div class="button mt-3 text-left">
                                    <button class="btn btn-dark mb-4">Set Marker</button>
                                </div>
                            </form>
                   </div>
                </div>
                <div class="col">
                    <div class="p-4 bg-white">
                    <h5>Remove Marker</h5>
                        <form action="modifymarker/" method="POST" onSubmit="return ValidateMarkerSubmittion()"> 
                            {% csrf_token %}
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" name="name" id="marker_name" placeholder="Marker Name" required>
                            </div>
                            <input type="hidden" name="modifyType" value="remove">
                            <div class="button mt-4 text-left">
                                <button class="btn btn-dark">Remove Marker</button>
                            </div>
                        </form>
                    </div>
               </div>
           </div>
        </div>
     </div>
     <!-- about section end -->

    <script data-markers="{{ jsonMarkers }}">
            var data = document.currentScript.dataset;
            var toReadableJson = JSON.stringify(data.markers);

            var allMarkers = JSON.parse(JSON.parse(toReadableJson));

            var mainMap = document.querySelector("#map");
            var markerCard = document.querySelector("#marker_card");
            var markerCardContent = document.querySelector("#marker_card_content");

            var source = "";

            var logArea = document.querySelector("#logArea");
            function ToggleLog(e)
            {
                if (e.checked)
                {
                    logArea.style.display = "block";
                }
                else 
                {
                    logArea.style.display = "none";
                }
            }

            // --------------------- Function AREA ---------------------
            var dropdownSource = document.querySelector("#dropwDownSource");
            var dropdownDestination = document.querySelector("#dropDownDestination");

            var showSourceToDestinationPopup = document.querySelector("#toggleSourceToDestinationPopup");
            var toggleMapClicking = document.querySelector("#toggleMapClickingForSourceAndDestination");

            var markersLocationSearchDropdown = document.querySelector("#markerLocationSearchDropDown");
            var longitudeCenter = 8.240480;
            var latitudeCenter = 124.255355;

            var functionCard = document.querySelector("#functionCard");
            function ToggleFunctionCard(toggle){
                if (toggle == "true"){
                    functionCard.style.display = "block";
                }
                else {
                    functionCard.style.display = "none";
                }
            }

    </script>

</div>
{% endblock %}
